## Deliverable 2: Create a Customer Travel Destinations Map.

In [61]:
# Dependencies and Setup.
import pandas as pd
import gmaps
import requests
import numpy as np

# Import API key.
from config import g_key

# Configure gmaps API key.
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,84.16,65,0,12.66,clear sky
1,1,Ushuaia,AR,-54.8000,-68.3000,38.86,81,90,0.00,overcast clouds
2,2,Pangody,RU,65.8500,74.4859,36.73,65,70,8.25,broken clouds
3,3,Buala,SB,-8.1450,159.5921,80.01,82,9,5.86,clear sky
4,4,Anaconda,US,46.1285,-112.9423,61.95,26,100,6.17,overcast clouds
5,5,Sao Filipe,CV,14.8961,-24.4956,76.48,66,7,9.04,clear sky
6,6,Hasaki,JP,35.7333,140.8333,66.49,86,100,0.22,overcast clouds
7,7,Mataura,NZ,-46.1927,168.8643,43.68,87,90,2.26,overcast clouds
8,8,Vila Velha,BR,-20.3297,-40.2925,80.55,69,20,11.01,few clouds
9,9,Hobart,AU,-42.8794,147.3294,51.80,76,40,9.22,scattered clouds

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Sao Filipe,CV,14.8961,-24.4956,76.48,66,7,9.04,clear sky
10,10,Trud,BG,42.2333,24.7333,70.02,73,90,4.61,light rain
12,12,Rikitea,PF,-23.1203,-134.9692,76.55,83,98,14.29,overcast clouds
17,17,Mahebourg,MU,-20.4081,57.7000,75.49,78,20,9.22,few clouds
21,21,Vaini,TO,-21.2000,-175.2000,71.76,88,40,6.91,scattered clouds
24,24,Huittinen,FI,61.1833,22.7000,74.23,53,15,6.20,few clouds
25,25,Atuona,PF,-9.8000,-139.0333,79.92,63,64,9.66,broken clouds
34,34,Avarua,CK,-21.2078,-159.7750,71.65,68,75,4.61,broken clouds
40,40,Saint-Philippe,RE,-21.3585,55.7679,71.22,84,78,13.02,light rain
46,46,Mogadishu,SO,2.0371,45.3438,79.29,85,98,20.87,overcast clouds

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                156
City                   156
Country                154
Lat                    156
Lng                    156
Max Temp               156
Humidity               156
Cloudiness             156
Wind Speed             156
Current Description    156
dtype: int64

In [22]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Sao Filipe,CV,14.8961,-24.4956,76.48,66,7,9.04,clear sky
10,10,Trud,BG,42.2333,24.7333,70.02,73,90,4.61,light rain
12,12,Rikitea,PF,-23.1203,-134.9692,76.55,83,98,14.29,overcast clouds
17,17,Mahebourg,MU,-20.4081,57.7000,75.49,78,20,9.22,few clouds
21,21,Vaini,TO,-21.2000,-175.2000,71.76,88,40,6.91,scattered clouds
24,24,Huittinen,FI,61.1833,22.7000,74.23,53,15,6.20,few clouds
25,25,Atuona,PF,-9.8000,-139.0333,79.92,63,64,9.66,broken clouds
34,34,Avarua,CK,-21.2078,-159.7750,71.65,68,75,4.61,broken clouds
40,40,Saint-Philippe,RE,-21.3585,55.7679,71.22,84,78,13.02,light rain
46,46,Mogadishu,SO,2.0371,45.3438,79.29,85,98,20.87,overcast clouds

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Sao Filipe,CV,76.48,clear sky,14.8961,-24.4956,
10,Trud,BG,70.02,light rain,42.2333,24.7333,
12,Rikitea,PF,76.55,overcast clouds,-23.1203,-134.9692,
17,Mahebourg,MU,75.49,few clouds,-20.4081,57.7000,
21,Vaini,TO,71.76,scattered clouds,-21.2000,-175.2000,
24,Huittinen,FI,74.23,few clouds,61.1833,22.7000,
25,Atuona,PF,79.92,broken clouds,-9.8000,-139.0333,
34,Avarua,CK,71.65,broken clouds,-21.2078,-159.7750,
40,Saint-Philippe,RE,71.22,light rain,-21.3585,55.7679,
46,Mogadishu,SO,79.29,overcast clouds,2.0371,45.3438,

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
               
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Sao Filipe,CV,76.48,clear sky,14.8961,-24.4956,Hotel Xaguate
10,Trud,BG,70.02,light rain,42.2333,24.7333,Къща ХВ
12,Rikitea,PF,76.55,overcast clouds,-23.1203,-134.9692,Pension Maro'i
17,Mahebourg,MU,75.49,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
21,Vaini,TO,71.76,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
24,Huittinen,FI,74.23,few clouds,61.1833,22.7000,Mommolan Motelli
25,Atuona,PF,79.92,broken clouds,-9.8000,-139.0333,Villa Enata
34,Avarua,CK,71.65,broken clouds,-21.2078,-159.7750,Paradise Inn
40,Saint-Philippe,RE,71.22,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
46,Mogadishu,SO,79.29,overcast clouds,2.0371,45.3438,Hotel Juba

In [66]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df["Hotel Name"].replace(" ",np.nan,inplace=True)
clean_hotel_df=hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Sao Filipe,CV,76.48,clear sky,14.8961,-24.4956,Hotel Xaguate
10,Trud,BG,70.02,light rain,42.2333,24.7333,Къща ХВ
12,Rikitea,PF,76.55,overcast clouds,-23.1203,-134.9692,Pension Maro'i
17,Mahebourg,MU,75.49,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
21,Vaini,TO,71.76,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

In [68]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [77]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [79]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))